[submodule "free-for-dev"]
	path = free-for-dev
	url = https://github.com/kaivalya-bachkar/free-for-dev.git
[submodule "Cloudethix_Git_Kaivalya"]
	path = Cloudethix_Git_Kaivalya
	url = https://github.com/kaivalya-bachkar/Cloudethix_Git_Kaivalya.git
